@import "tailwindcss";

@theme {
  --color-primary: #15045a;       
  --color-primary-light: #3B82F6; 
  --color-primary-dark: #1E40AF;

  --color-secondary: #10B981;     
  --color-secondary-light: #34D399;
  --color-secondary-dark: #059669;

  --color-accent: #F59E0B;        
  --color-accent-light: #FBBF24;
  --color-accent-dark: #D97706;

  --color-bg: #F9FAFB;            
  --color-text: #1F2937;          
  --color-subtext: #6B7280;       
}
